@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Attribution code provided by FrontEndMentor.io */
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--very-light-gray);
  height: 100vh;
  font-size: 15px;
}

h2,
p,
img,
button {
  margin: 1rem 2.7rem;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.1rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

p {
  color: var(--transparent-white);
  line-height: 1.8;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  display: flex;
  width: 60%;
  border-radius: 1rem;
  overflow: hidden;
}

.auto-container {
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 2.5rem;
  width: 17%;
  height: auto;
}

#sedan { background-color: var(--bright-orange); }

#suv { background-color: var(--dark-cyan); }

#luxury { background-color: var(--very-dark-cyan); }

button {
  display: inline-block;
  width: 40%;
  margin-bottom: 2.5rem;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--very-light-gray);
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  border: 0;
  cursor: pointer;
  transition: color .3s, border .3s;
}

button:hover {
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}

.sedan-btn {
  color: var(--bright-orange);
  border: 2px solid var(--bright-orange);
}

.sedan-btn:hover { background-color: var(--bright-orange); }

.suv-btn {
  color: var(--dark-cyan);
  border: 2px solid var(--dark-cyan);
}

.suv-btn:hover { background-color: var(--dark-cyan); }

.luxury-btn {
  color: var(--very-dark-cyan);
  border: 2px solid var(--very-dark-cyan);
}

.luxury-btn:hover { background-color: var(--very-dark-cyan); }